<!DOCTYPE html>
<html>
<head>
    <title>Footer Example</title>
   <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <footer>
        Copyright © 2019 JVL Code
    </footer>
</body>
</html>
