<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>calculator</h1><br><br>
    <form action="/result" method="post">
        <label for="firstNumber"> First Number</label>
        <input type="number" name="num1" id="firstNumber"><br>
        <label for="secondNumber">Second Number</label>
        <input type="number" name="num2" id="secondNumber"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>