<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is result page</title>
</head>
<body>
    <h1>This is result page</h1>
    <p>The sum is {{result }}</p>
</body>
</html>