body {
    background-color: chocolate;
}

input {
    border: 3px solid;
}

button {
    color: black;
    background-color: cornflowerblue;
}

a {
    color: white;
    font-weight: 200;
    text-decoration: none;
}